@page
@model WildcatMicro.Pages.Applicant.Home.CompletionModel
@{
}

<div class="container backgroundWhite">
    <div class="row">
        <div class="col-12 border">
            <div style="text-align: center;">
                <h4><br />Congrats you have completed the application for the Wildcat Microfund!</h4>
                <h4><br /> To check your status and answers to the application click the button below.</h4>
                <div class="text-center">
                    <p></p>
                    <a asp-page="./Status" class="btn btn-success btn-md">Application Status</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>