@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}
<h1>@ViewData["Title"]</h1>

<p>The team memebers that worked on this application were doing so for a Capstone Project. The group included:</p>
<p>Michael Lacefield</p>
<p>Nicholas Johnson</p>
<p>Derek Nichols</p>
<p>Jacob Gonzales</p>
<p>Belete Nigusie</p>


